# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
/build

# local runtime data
/data/

# env
.env*
!.env*.example

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel
